<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" dir="ltr">
<head>
<title><MM-List-Name> Info Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Cantarell:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link rel="shortcut icon" href="/icons/mm-icon.png" />
<link rel="stylesheet" href="/media/style.css" media="screen" />
</head>
<body>

<div class="header">
    <MM-List-Name>: <MM-List-Description>
</div>

<div class="main">
    <div class="label">about</div>
    <div class="text">
        <MM-List-Info><br />
    </div>
    
    <div class="label">subscribe</div>
    <div class="text">
    <MM-Subscribe-Form-Start>
        To use the mailing list, the first thing you have to do is to subscibe. Subscribe by filling out the following form. You will be sent email requesting confirmation.<br /><br />
        
        <MM-lang-form-start><MM-displang-box> <MM-list-langs><MM-form-end>
        <formlabel for="email">E-mail:</formlabel> <MM-Subscribe-Box><br />
        <formlabel for="name">Name (optional):</formlabel> <mm-fullname-box><br /><br />
        
        <formlabel for="email">Password:</formlabel> <MM-New-Password-Box><br />
        <formlabel for="name">Re-enter Password:</formlabel> <MM-Confirm-Password><br />
        <small>Do not use a valuable password as it will occasionally be emailed back to you in cleartext.</small><br /><br />
        
        <MM-Subscribe-Button>    
    </div>
    
    <div class="label">archives</div>
    <div class="text">
        To see the collection of prior postings to the list, visit the <MM-Archive>Archives</MM-Archive>.
    </div>
    
    <div class="label">edit subscription</div>
    <div class="text">
        <MM-Options-Form-Start>
    	    <MM-Editing-Options>
	<MM-Form-End>
    </div>
</div>
</body>
</html>
